<nav class="own_bar">
    <div >
      <div class="test">
            <a class="nav-link"     routerLink="">                <label id="nav_element"> Tender Maker </label></a>
            <a style="float: right"    class="nav-link"     routerLink="/new_tender">     <label id="nav_element"> Új ajánlat/számla </label></a>
            <a style="float: right"    class="nav-link"     routerLink="/new_task">       <label id="nav_element"> Új munkálat </label></a>
            <a style="float: right"    class="nav-link"        routerLink="/compile_tender"> <label id="nav_element">Összeállitás</label></a>
      </div>
    </div>
  </nav>
  