@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.divbar{
    border: 5px solid #111;
    -moz-box-shadow: 35px 35px 7px #999999;
    -moz-border-bottom-right-radius: 15px;
    -moz-border-radius:25px;
    padding: 15px 25px;
    width: 600px;
}
.onTheLeft{
   float: left;
}
.onTheRight{
    float: right;
}
form label{
  color: white;
}
label {
    font-size: 20px;
    color: white; 
}

select {
    padding:3px;
       margin: 0;
       -webkit-border-radius:4px;
       -moz-border-radius:4px;
       border-radius:2px;
       -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
       -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
       box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
       background: #f8f8f8;
       color:#888;
       border:none;
       outline:none;
       display: inline-block;
       -webkit-appearance:none;
       -moz-appearance:none;
       appearance:none;
       cursor:pointer;
       font-size: 20px;
   }
   .deleteButton {
       float: right;
       color: white;
       background: red;
       border-radius:15px;
       font-size: 18px;
   }
   .printButton {
    float: right;
    color: white;
    background: rgb(17, 49, 17);
    border-radius:15px;
    font-size: 18px;
  }
   form{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(8, 8, 8);
    margin-top: 7%;
    min-width: 400px;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 600px;
    table-layout: fixed;
  }
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  table th {
    background: black;
    color: white;
    min-height: 80px;
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    table td:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child {
      border-bottom: 0;
    }
  }
  thead{
      color: black;
  }